@use 'base/variables' as v;
@use 'base/mixins' as mq;

.boletos {
    padding: 5rem 0;

    h3 {
        text-align: center;
        color: v.$blanco;
        margin-bottom: 2rem
    }

    .contenedor-boletos {
        @include mq.tablet {
            @include mq.grid(2, 5rem);
        }
    }
}
.pase {
    .nombre-pase{
        text-align: center;
        color: v.$blanco;
        font-size: 2.8rem;
    }
    &-header,
    &-footer {
        padding: .5rem;
        p {
            text-align: center;
            color: v.$blanco;
            margin: 0;
        }
    }

    &-header {
        background-color: v.$rosa;
        p {
            text-transform: uppercase;
            font-size: 1.6rem;
        }
    }
    &-body {
        background-color: v.$blanco;
        ul {
            @include mq.reset-list;
            li, 
            :nth-child(odd){
                background-color: v.$blanco;
                padding: 1rem;
                border-bottom: 1px solid #e1e1e1;
            }
        }
    }
    &-footer {
        background-color: v.$morado;
        p {
            font-size: 2.4rem;
            font-weight: 700;
        }
    }
}